* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
    flex-direction: row;
}

.navbar
{
    width: 100%;
    height: 60px;
    background-color: #5347ff;
    display: flex;
    justify-content:first baseline;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

.search-bar
{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 40px ;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

nav
{
    display: flex;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.QuibbleLogo
{
  margin-bottom: 10px;
}

.cart-icon, .notification-icon
{
    position: relative;
    font-size: 34px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 80px;
    padding: 8px;
}

.search-icon
{
    font-size: 20px;
    color: gray;
    cursor: pointer;
    
}