
.navbar
{
    width: 100%;
    height: 60px;
    background-color: #fff5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    position: fixed;
}

.search-bar
{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 40px ;
    width: 500px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

nav
{
    display: flex;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: #e0511d;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.QuibbleLogo
{
  margin-bottom: 10px;
}

.cart-icon, .notification-icon
{
    position: relative;
    font-size: 34px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 80px;
    padding: 8px;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #e0511d;
    margin: 3px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navbar
    {
        gap:0px;
        flex-direction: row;
        justify-content: space-around;
    }
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff5f5;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1050; 
    }

    nav.active {
        display: flex;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    

    .navbar {
        position: relative;
    }

    .search-bar {
        width: 180px;
    }

    .QuibbleLogo
    {
        margin-bottom: 0px;
        width: 100px;
    }

}



/* Carousel*/
.carousel-item {
    transition: transform 0.6s ease-in-out !important;
}

